In [ ]:
from main_workflow import *
import pandas as pd
from tqdm import tqdm

/Users/nltyh/Documents/NUS/Y4/DSA4213/DSA4213-Group-Project/.venv/lib/python3.10/site-packages/google/api_core/_python_version_support.py:266: FutureWarning: You are using a Python version (3.10.6) which Google will stop supporting in new releases of google.api_core once it reaches its end of life (2026-10-04). Please upgrade to the latest Python version, or at least Python 3.11, to continue receiving updates for google.api_core past that date.
  warnings.warn(message, FutureWarning)
/Users/nltyh/Documents/NUS/Y4/DSA4213/DSA4213-Group-Project/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
gc = pd.read_csv('golden_copy.csv')

In [5]:
results = []

for idx, row in tqdm(gc.iterrows(), total = len(gc)):
    query = row['user_query']
    res = run_travel_bot(query)
    results.append([query, res])

baseline_responses = pd.DataFrame(results, columns=['user_query', 'response'])

  0%|          | 0/39 [00:00<?, ?it/s]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

  3%|▎         | 1/39 [00:34<21:32, 34.00s/it]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

  5%|▌         | 2/39 [01:06<20:19, 32.96s/it]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

  8%|▊         | 3/39 [01:37<19:18, 32.17s/it]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

 10%|█         | 4/39 [01:57<15:58, 27.39s/it]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

 13%|█▎        | 5/39 [02:15<13:31, 23.88s/it]

Original hotel DataFrame count: 1010033
Filtered count for Tokyo, Japan: 32

 15%|█▌        | 6/39 [02:38<13:05, 23.79s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 18%|█▊        | 7/39 [03:39<19:07, 35.86s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 21%|██        | 8/39 [04:41<22:50, 44.22s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 23%|██▎       | 9/39 [05:42<24:41, 49.38s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 26%|██▌       | 10/39 [06:46<26:05, 53.99s/it]

Original hotel DataFrame count: 1010033
Filtered count for Frankfurt, Germany: 52

 28%|██▊       | 11/39 [07:19<22:07, 47.41s/it]

Original hotel DataFrame count: 1010033
Filtered count for Frankfurt, Germany: 52

 31%|███       | 12/39 [07:43<18:13, 40.52s/it]

Original hotel DataFrame count: 1010033
Filtered count for Frankfurt, Germany: 52

 33%|███▎      | 13/39 [08:10<15:41, 36.21s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 36%|███▌      | 14/39 [08:58<16:38, 39.93s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 38%|███▊      | 15/39 [09:44<16:41, 41.74s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 41%|████      | 16/39 [10:30<16:30, 43.06s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 44%|████▎     | 17/39 [14:27<37:06, 101.20s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 46%|████▌     | 18/39 [15:17<30:05, 85.95s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 49%|████▊     | 19/39 [16:04<24:41, 74.07s/it]

Original hotel DataFrame count: 1010033
Filtered count for Los Angeles,   California, United States: 1522

 51%|█████▏    | 20/39 [16:49<20:44, 65.50s/it]

Original hotel DataFrame count: 1010033
Filtered count for Barcelona, Spain: 1491

 54%|█████▍    | 21/39 [17:27<17:08, 57.12s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 56%|█████▋    | 22/39 [18:01<14:16, 50.37s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 59%|█████▉    | 23/39 [18:30<11:44, 44.01s/it]

Original hotel DataFrame count: 1010033
Warning: No hotels found for None, Spain. No data ingested.

 62%|██████▏   | 24/39 [19:02<10:04, 40.28s/it]

Original hotel DataFrame count: 1010033
Filtered count for Seoul, South Korea: 2156

 64%|██████▍   | 25/39 [20:03<10:49, 46.40s/it]

Original hotel DataFrame count: 1010033
Filtered count for Seoul, South Korea: 2156

 67%|██████▋   | 26/39 [21:21<12:05, 55.84s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 69%|██████▉   | 27/39 [22:11<10:49, 54.15s/it]

Original hotel DataFrame count: 1010033
Filtered count for Rome, Italy: 2217

 72%|███████▏  | 28/39 [22:56<09:25, 51.45s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 74%|███████▍  | 29/39 [23:25<07:26, 44.67s/it]

Original hotel DataFrame count: 1010033
Filtered count for Seoul, South Korea: 2156

 77%|███████▋  | 30/39 [24:20<07:10, 47.79s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 79%|███████▉  | 31/39 [25:06<06:19, 47.45s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 82%|████████▏ | 32/39 [25:37<04:57, 42.44s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 85%|████████▍ | 33/39 [26:17<04:10, 41.74s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 87%|████████▋ | 34/39 [26:51<03:17, 39.43s/it]

Original hotel DataFrame count: 1010033
Filtered count for Singapore, Singapore: 663

 90%|████████▉ | 35/39 [28:03<03:16, 49.06s/it]

Original hotel DataFrame count: 1010033
Filtered count for Barcelona, Spain: 1491

 92%|█████████▏| 36/39 [28:46<02:21, 47.29s/it]

Original hotel DataFrame count: 1010033
Filtered count for Barcelona, Spain: 1491

 95%|█████████▍| 37/39 [29:33<01:34, 47.28s/it]

Original hotel DataFrame count: 1010033
Filtered count for Barcelona, Spain: 1491

 97%|█████████▋| 38/39 [30:47<00:55, 55.28s/it]

Original hotel DataFrame count: 1010033
Filtered count for Frankfurt am Main, Germany: 100

100%|██████████| 39/39 [31:14<00:00, 48.07s/it]

In [9]:
baseline_responses.to_csv(r'baseline_responses.csv')

In [7]:
test_baseline_res = baseline_responses['response'][0]

In [8]:
test_baseline_res

'Flights (Round Trip)\n* Outbound (SIN → NRT)\n  Scoot, China Eastern Airlines — SIN 10 Nov 2025 23:20 → NRT 11 Nov 2025 07:10 | SGD 1225.12 | A2 C2 ECONOMY\n* Return (NRT → SIN)\n  Scoot, China Eastern Airlines — NRT 17 Nov 2025 15:20 → SIN 18 Nov 2025 11:40\n\nHotel\n* Hotel Name: Apa Nihonbashi Ekimae\n* Rating: 3★\n* Address: 3 Chome-12-14 Higashinihonbashi CHUO-KU\n* Website: http://www.apahotel.com/~language/en/hotel/nihonbashi-ekimae/index.html\n* Description: Set in a prime location of Tokyo, APA Hotel Higashi-Nihonbashi-Ekimae offers a wide range of amenities. Guestrooms provide comfort with amenities like television, internet access, and air conditioning. Enjoy massage services.\n* Facilities: Hotel Room service, Laundry service, 24-hour security, Hotel safe, Lift access, Newspapers, Luggage room, Towels and bed linen, Bar, Restaurant, Smoking area, Massage\n\nSuggested Itinerary:\n*   **11 Nov 2025 (Arrival Day):** Arrive at NRT in the morning. After check-in at Apa Nihonbashi Ekimae, settle in and explore the vibrant Nihonbashi district, known for its mix of traditional charm and modern shops. Perhaps visit the nearby Tokyo Station area or take a leisurely stroll through Ginza.\n*   **12-16 Nov 2025 (Exploration Days):** With your central hotel location, you can easily visit major attractions. Consider a trip to the historic Senso-ji Temple in Asakusa, enjoy panoramic city views from the Tokyo Skytree, or immerse yourselves in the bustling Shibuya Crossing and Shinjuku Gyoen National Garden. For the children, Ueno Park offers a zoo and museums.\n*   **17 Nov 2025 (Departure Day):** Enjoy a final Japanese breakfast and some last-minute souvenir shopping near your hotel. Head to Narita Airport in the afternoon for your return flight.'

In [10]:
import evaluate

In [11]:
golden_text = gc['golden_response'][0]

In [12]:
golden_text

'Flights (Round Trip)\n* Outbound (SIN → NRT)Scoot — SIN 10 Nov 2025 23:20 → NRT 11 Nov 2025 07:10 | SGD 1,577.57 | A2 C2 ECONOMY\n* Return (NRT → SIN)Scoot — NRT 17 Nov 2025 08:50 → SIN 17 Nov 2025 15:30\nHotel\n* Hotel: Hotel Trusty Tokyo Bayside (3★)\n* Address: 3-1-15 Ariake, Koto-ku, Tokyo 135-0063\n* Website: http://www.trusty.jp'

In [13]:
test_baseline_res

'Flights (Round Trip)\n* Outbound (SIN → NRT)\n  Scoot, China Eastern Airlines — SIN 10 Nov 2025 23:20 → NRT 11 Nov 2025 07:10 | SGD 1225.12 | A2 C2 ECONOMY\n* Return (NRT → SIN)\n  Scoot, China Eastern Airlines — NRT 17 Nov 2025 15:20 → SIN 18 Nov 2025 11:40\n\nHotel\n* Hotel Name: Apa Nihonbashi Ekimae\n* Rating: 3★\n* Address: 3 Chome-12-14 Higashinihonbashi CHUO-KU\n* Website: http://www.apahotel.com/~language/en/hotel/nihonbashi-ekimae/index.html\n* Description: Set in a prime location of Tokyo, APA Hotel Higashi-Nihonbashi-Ekimae offers a wide range of amenities. Guestrooms provide comfort with amenities like television, internet access, and air conditioning. Enjoy massage services.\n* Facilities: Hotel Room service, Laundry service, 24-hour security, Hotel safe, Lift access, Newspapers, Luggage room, Towels and bed linen, Bar, Restaurant, Smoking area, Massage\n\nSuggested Itinerary:\n*   **11 Nov 2025 (Arrival Day):** Arrive at NRT in the morning. After check-in at Apa Nihonbashi Ekimae, settle in and explore the vibrant Nihonbashi district, known for its mix of traditional charm and modern shops. Perhaps visit the nearby Tokyo Station area or take a leisurely stroll through Ginza.\n*   **12-16 Nov 2025 (Exploration Days):** With your central hotel location, you can easily visit major attractions. Consider a trip to the historic Senso-ji Temple in Asakusa, enjoy panoramic city views from the Tokyo Skytree, or immerse yourselves in the bustling Shibuya Crossing and Shinjuku Gyoen National Garden. For the children, Ueno Park offers a zoo and museums.\n*   **17 Nov 2025 (Departure Day):** Enjoy a final Japanese breakfast and some last-minute souvenir shopping near your hotel. Head to Narita Airport in the afternoon for your return flight.'

In [17]:
bert = evaluate.load('bertscore')

In [18]:
bertscore_result = bert.compute(predictions=[test_baseline_res],
                                     references=[golden_text],
                                     lang="en")

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['pooler.dense.bias', 'pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.